.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid green;
    margin-bottom: 30px;
}
.logo {
    width: 150px;
}

ul.header-menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
ul.header-menu li {
    padding: 5px;
    margin: 5px;
}
.main_card {
    width: 300px;
    border: 1px solid blue;
    padding: 5px;
    background-color: lightgoldenrodyellow;
    margin: 5px;
}
.main_card:hover {
    border: 1px solid lightblue;
    cursor: pointer;
}
.card_logo {
    width: 100%;
    height: 200px;
}
.res_container {
    display: flex;
    flex-wrap: wrap;
}
.filter-btn {
    margin: 20px;
    cursor: pointer;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    width: 300px;
    height: 400px;
    background-color: #fafad2;
    margin: 5px;
    padding: 5px;
}